.sidebar{
  border: 1px solid black;
  background-color: #f2f2f2;
  height: 100%;
  ul{
    list-style: none;
    padding: 0;
    li{
      padding: 10px;
      border-bottom: 1px solid black;
      list-style-type: none;
      a{
        text-decoration: none;
        color: black;
        &:hover{
          color: #33aa00;
        }
      }
    }
  }
}