.layout{
  .content{
    max-width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 200px;
    .main{
      grid-gap: 10px;
      grid-column: 1/3;
    }
    .sidebar{
      grid-column: 10/12;
    }
  }
}